</div>
<div class="footer-basic">
    <footer>
        <div class="social">
            <a href="https://www.instagram.com/soraajsingh/"><i class="fab fa-instagram"></i></i></a>
            <a href="https://github.com/suraj080401"><i class="fab fa-github"></i></a>
            <a href="www.linkedin.com/in/surajsingh0804"><i class="fab fa-linkedin"></i></a>
            <a href="https://www.facebook.com/profile.php?id=100029224161923"><i class="fab fa-facebook"></i></a>
        </div>
        <p style="text-align: center; font-size: 13px;">
            "Write Your stories, experience about the winter capital of Uttrakhand Dehrdun."
        </p>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="/">Home</a></li>
            <li class="list-inline-item"><a href="/about">About</a></li>
            <li class="list-inline-item"><a href="/compose">Compose</a></li>
            <li class="list-inline-item"><a href="/login">Login</a></li>
        </ul>
        <p class="copyright">Winter Capital © 2021</p>
    </footer>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
</div>  
</body>
</html>
