<%- include("partials/header"); -%>
   <div class="container">
    <h1 style="text-align: center; margin: 20px;">About Us</h1>
    <p>This is a website where you can write your experience, thoughts, perspective about the winter capital of Uttrakhand, Dehradun.</p>
    <p>Before writing the blogs keep these things in mind.</p>
    <ul>
        <li>
            The title must be eye catching and does not exceed two words.
        </li>
        <li>
            The first paragraph of your content should be well defined about what you have written in the whole content as home page will only display first 200 words.
        </li>
        <li>
            You should must be login/signup to write your content.
        </li>
        <li>
            The blog should not contain any inappropriate or religious conflicts that spread hate.
        </li>
    </ul>
   </div>
<%- include("partials/footer"); -%>
