html 
{
    min-height: 100%;
    position: relative;
    scroll-behavior: smooth;
}
body
{
    font-family: 'Noticia Text', serif;
    background-color: white;
    background-size: cover;
    color: #171717d0;
}
.newspaper
{
    width: 1000px;
    margin: 0 auto;
    padding: auto;
    background-color: rgb(238, 238, 232);
}
.read-more-button
{
    text-align: center;
}
.read_more
{
    text-transform: uppercase;
    color: rgb(80, 80, 80);
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 1px;
    text-decoration: none;
    font-size: 14px;
}
.read_more:hover{
    color: black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    text-decoration: none;
}
.blog-container
{
    clear:both; 
    float: left; 
    width: 100%;
    margin: 50px 0;
    
}
.blog-div
{
    float: left; 
    width: 30%;
    margin: 15px;
    padding: 10px;
    border-right: 1px solid grey;
}
.blog-div h1
{
    font-size: 23px;
}
.blog-div p 
{
    font-size: 14px;
    color: grey;
}
.post-container
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.newspaper-heading
{
    width: 100%;
    text-align: center;
    font-size: 90px;
    font-family: 'Playfair Display', serif;
    padding: 30px 0;
    
}
.tabs-container
{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    margin: 0;
    padding: 5px 0;
}
.tabs-container div a:hover
{
  color: gray;
}
.tabs
{
    width: 100%;
    text-align: center;
}
.tabs a
{
    text-decoration: none;
    color: black;
}
.footer-basic
{
    border-top: 1px solid black;
    padding: 20px;
}
.footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .footer-basic li {
    padding:0 10px;
  }
  
  .footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-basic ul a:hover {
    opacity:1;
  }
  
  .footer-basic .social {
    text-align:center;
    padding-bottom:25px;
  }
  
  .footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-basic .social > a:hover {
    opacity:0.9;
  }
  
  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
  }
  
@media only screen and (max-device-width: 1400px){
    .blog-div
    {
      width: 47%;
      margin: 10px;
    }
    .newspaper-heading
   {
    width: 100%;
    text-align: center;
    font-size: 60px;
    margin: 20px 0;
   }
}
/* compose */
.compose-h1
{
  text-align: center;
  margin: 10px;
}
.publish-button
{
  margin: 20px 430px;
}